<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="static/base/estilos.css"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<body>
    <header class="header" id="inicio">
        <div class="contenedor head">
            <h1 class="titulo">PhotoServices</h1>
            <p class="copy">Servicios multifotográficos.</p>
        </div>
    </header>
    <main>
        <section clas s="services contenedor"id="servicio">
            <h2 class="subtitulo">Servicios</h2>
            <div class="contenedor-servicio">
                {% load static %}
                <img src="{% static 'images/Team building _Monochromatic.png' %}" alt="">
                <div class="checklist-servicio">
                    <div class="service">
                        <h3 class="n-service"><span class="number">1</span> Servicio de fotografía</h3>
                        <p>Inmortalizamos momentos bellos para ti y tus queridos</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">2</span> Servicio de grabación de bodas</h3>
                        <p>Te grabamos hasta la boda de tu abuelita</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">3</span> Servicio de análisis fotográfico</h3>
                        <p>Análisis de fotografías antiguas con microscopio e inteligencia artificial</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="gallery" id="portafolio">
            <div class="contenedor">
                <h2 class="subtitulo">Galeria</h2>
                <div class="contenedor-galeria">
                    <img src="{% static 'images/1.jpg' %}" alt="" class="img-galeria">
                    <img src="{% static 'images/2.jpg' %}" alt="" class="img-galeria">
                    <img src="{% static 'images/3.jpg' %}" alt="" class="img-galeria">
                    <img src="{% static 'images/4.jpg' %}" alt="" class="img-galeria">
                    <img src="{% static 'images/5.jpg' %}" alt="" class="img-galeria">
                    <img src="{% static 'images/6.jpg' %}" alt="" class="img-galeria">
                </div>
            </div>
        </section>
        <h2 class="subtitulo">Contactos externos</h2>
        <ul class="subtitulo">
            {% for post in superlista %}
                        <li class="service"> {{ post.nombre }} </li>
                        <li class="service"> {{ post.correo }} </li>
            {% endfor %}
        </ul>
    </main>
    <footer id="contacto">
        <div class="contenedor footer-content">
            <div class="contact-us">
                <h2 class="brand">Artemio Pánuco González</h2>
                <p>Full Stack Development II</p>
            </div>
            <div class="social-media">
                <a href="https://www.facebook.com/whosarte" class="social-media-icon">
                    <i class='bx bxl-facebook'></i>
                </a>
                <a href="https://www.instagram.com/whthfcksrt" class="social-media-icon">
                    <i class='bx bxl-instagram' ></i>
                </a>
            </div>
        </div>
        <div class="line"></div>
    </footer>

    <script src="templates/js/menu.js"></script>
    <script src="templates/js/lightbox.js"></script>
</body>
{% endblock content %}
</html>